.botao{
    background: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    border: none;
    padding: 28px 32px;
    cursor: pointer;
    color: #fff;
    margin: 16px 0;
}

.botao:hover{
    color: #95ffd4;
}